applications:

  # MYSQL CONFIGURATION
  mysql:
    password: <ENTER_PASSWORD_HERE>
    user: root
    # host: "mysql"
    # port: "3306"

  # SERVER CONFIGURATION
  server:
    env:
      # -------- BASIC ENV VARIABLES REQUIRED --------
      HTTPS: 0 # Enables/Disables HTTP/HTTPS Ports 0 [(false) -> port: 80] [1 (true) -> port: 443]
      ADMIN_PASSWORD: <ENTER_PASSWORD_HERE>
      ADMIN_USERNAME: admin
      ENCRYPTION_SECRET: <ENTER_SECRET_HERE>

      # -------- EXTRA ENV VARIABLES FOR SERVER --------
      
      # ******** IGNORE PRIVATE CA CERTS ********
      # NODE_TLS_REJECT_UNAUTHORIZED: 0
      
      # ******** ENABLE THIS FOR PRIVATE CA CERTS ********
      # NODE_EXTRA_CA_CERTS: /etc/custom-certs/custom-ca.crt

# ------------------------------------------------------------------------------
# CONTAINERS CONFIGURATION
# ------------------------------------------------------------------------------
containers:

# ~~~~

  mysql:
    image: mysql:latest # mysql:latest
    resources:
      limits:
        cpu: '2'
        memory: 2048Mi
      requests:
        cpu: '0.5'
        memory: 512Mi
        
# ~~~~

  server:
    image: ansibleguy/ansibleforms:6.1.3-rc 
    resources:
      limits:
        cpu: '4'
        memory: 4096Mi
      requests:
        cpu: '1'
        memory: 1024Mi
    initContainers:
      - name: prepare-persistent-volume
        image: ansibleguy/ansibleforms:6.1.3-rc 
        imagePullPolicy: IfNotPresent
        # This command changes the ownership of the specified directory.
        command: ["sh", "-c", "chown -R 1000:1000 /app/dist/persistent"]
        securityContext:
          # The container must run as the root user to have permission to chown.
          runAsUser: 0
        volumeMounts:
          - name: server-persistent-storage
            mountPath: /app/dist/persistent

  # ---------------------------------------------------
  # ENABLE THIS FOR CUSTOM COMMANDS
  # ---------------------------------------------------
    # customCommand:
    #   command: ["/bin/sh", "-c"]
    #   args:
    #   - "node ./index.js"

  # ---------------------------------------------------
  # ENABLE THIS FOR CUSTOM CA CERTS
  # ---------------------------------------------------
    # extraVolumeMounts:
    #   - name: ca-certs-configmap
    #     mountPath: /etc/custom-certs/custom-ca.crt
    #     subPath: custom-ca.crt
    #     readOnly: true
            
# ~~~~


# ------------------------------------------------------------------------------
# FORMS CONFIGURATION
# ------------------------------------------------------------------------------

forms:
  configMap:
    enabled: false
    key: forms.yaml
    mountPath: /app/dist/persistent/forms.yaml
    name: ''
  customJs:
    enabled: false
    key: custom.js
    mountPath: /app/dist/src/functions/custom.js
    name: ''
  extraFormsConfigMap:
    enabled: false
    mountPath: /app/dist/persistent/forms
    name: ''

# ------------------------------------------------------------------------------
# INGRESS CONFIGURATION
# ------------------------------------------------------------------------------

ingress:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
  className: nginx
  enabled: true
  extraAnnotations: {}
  extraHosts: []
  extraPaths: []
  hostname: <YOUR INGRESS URL>
  path: /
  pathType: Prefix
  tls:
    enabled: true

# ------------------------------------------------------------------------------
# SERVICES CONFIGURATION
# ------------------------------------------------------------------------------

services:
# ~~~~
  mysql:
    type: ClusterIP
# ~~~~
  server:
    type: ClusterIP
# ~~~~
    
# ------------------------------------------------------------------------------
# STORAGE CONFIGURATION
# ------------------------------------------------------------------------------

storages:
# ~~~~
  mysql:
    className: ''
    size: 10Gi
    static:
      enabled: false
      storageClassName: ''
      volumeName: ''
# ~~~~
  server:
    className: ''
    size: 10Gi
    static:
      enabled: false
      storageClassName: ''
      volumeName: ''
# ~~~~

# ------------------------------------------------------------------------------
# ADD HERE EXTRA VOLUME MOUNTS (if needed) (e.g CUSTOM CA CONFIGMAP or SECRET)
# ------------------------------------------------------------------------------
# extraVolumes:
#   - name: ca-certs-configmap
#     configMap:
#       name: ca-certs-configmap